body {
    background-color: #f8f9fa; /* Color de fondo general */
}

.card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s;
    background: linear-gradient(135deg, #3494e6, #ec6ead); /* Gradient de colores */
    color: #fff; /* Color del texto principal */
}

.card-header {
    background-color: #007bff; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
}

.card:hover {
    transform: scale(1.05);
}